
  .mainbar {
    background-color: rgb(43, 36, 36);
    padding: 0px;
    

  }

  .mainbar img {
    margin-top: 5px;
    
    

  }

  .headtext {
    color: white;
    text-align: left;
    font-size: 23px;
    padding-top: 35px;
  }



  .nav {
    
    margin-top: 20px;
    text-align: left;
  }

  .nav ul {

    display: inline-flex;
    list-style: none;
    color: white;




  }

  .nav ul li {

    margin-right: 0px;
    font-size: 18px;
    padding:5px;    


  }

  .nav ul li a {
    text-decoration: none;
    color: white;
    padding-top:8px;
    

  }



  .active,
  .nav ul li:hover {

    background: #738170;
    border-radius: 3px;
    opacity: 90%;

  }

  body,html{
    height: 100%;
    background: url("../images/my.jpg") no-repeat center center fixed;
    background-size: cover;
  }
  

.content {

font-size: 20px;
text-align: center;
background-color: rgb(178, 180, 182);  
float:none;
}

button {
background-color: #1f4e1f; /* Green */
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;

cursor: pointer;
}

.btn1{
padding: 12px 25px;
}

footer{
background-color: rgb(43, 36, 36);
color: white;
}


.x{color: white;
/* width: 20px; */
padding-right: 12px;
}


footer div a{
  
  text-decoration: none;
  color: white;
  line-height: 20px;
  
}


.btn {
  background-color: rgb(88, 88, 90);
  color: white;
  margin-top: 15px;
  border-radius: 40px;
  padding: 10px 25px;
}


.btn:hover {
  background-color: white;
  color: black;
}

.btn1:hover {
  background-color: white;
  color: black;
}

.btn1 {
  background-color: rgb(88, 88, 90);
  color: white;
  margin-top: 15px;
  border-radius: 40px;
  padding: 10px 25px;
}


.login input {
  /* text-align: center; */
  width: 180px;
  height: 30px;

}


.login label {
  /* text-align: center; */
  text-align: left;
  color: white;
  margin-right: 100px;

}

.login button {
  /* text-align: center; */
  padding: 9px 18px;
  border-radius: 5px;

}

.login {
  margin-bottom: -20px;
  /* margin-left: 40px; */
  border-radius: 10px;
}

.signup input {
  /* text-align: center; */
  width: 180px;
  height: 30px;

}

.signup label {
  /* text-align: center; */
  text-align: left;
  color: white;
  margin-right: 100px;

}

.signup button {
  /* text-align: center; */
  padding: 9px 18px;
  border-radius: 5px;

}

.signup {
  margin-bottom: -20px;
  /* margin-left: 40px; */
  border-radius: 10px;
}


